body{
	margin: auto;
	color: #fff;
	background: #232830;
	font-family: "Poppins", sans-serif;
  	font-weight: 400;
  	font-style: normal;


	/*display: flex;
	flex-direction: row;
	align-items: center;*/
}
#page-header{
	width: 1236px;
	height: 515px;
	margin: 0 auto 0 auto;
	
}

#nav{
	display: flex;
	list-style-type: none; /* removes bullets*/
	align-items: center;
	padding: .5em; /*equals 8px*/
	margin: 0;

}
li{
	margin: 0 1rem; /*1rem = 16px*/
	font-size: 24px;
	line-height: 36px;
}
li.logo-title{
	margin-right: auto;
	font-size: 30px;
	line-height:45px ;
}
.a-nav{
	color: #fff;
	text-decoration: none;
}

#banner{
	width: 844px;
	height: 391px;
	text-align: center;
	margin: 0 auto 0 auto;
	

}
#logo-img{
	width: 194px;
	height: 204px;
	
}

.title{
	line-height:85px ;
	margin: 0;
	font-family: "Recursive", sans-serif;
	font-style: italic;
	font-size: 70px;
	color: #FF7575;
	

}

.text{
	line-height: 43px;
	font-family:"Poppins", sans-serif ;
	font-size: 29px;
	
}



#category-listing{
	color: #909090;
	width:1320px;
	height: 65px;
	font-family:"Recursive", sans-serif ;
	font-style: italic;
	font-size: 27px;
	margin-top: 80px;
	border-top: 3px solid #4D4D4D;
	display: flex;
	justify-content:space-evenly;
	align-items: center;

}

.cat-icons{
	margin: 20px auto 20px auto;


}




#categories{


	display: flex;
	list-style-type: none; /* removes bullets*/
	align-items: center;
	padding: .5em; /*equals 8px*/
	margin: 0;

}

.list {
	line-height: 32px;
}

#articles-section{
	width: 1244px;
	height: 1391px;
	margin: 0 auto 0 auto;
	/*padding: 403px -309px;*/
	border: 1px solid #252930 ;
	border-radius: 22px;
	display: flex;
	flex-wrap: wrap;
	
}

.article-1{
	width: 390px;
	height: 439px;
	color: #252930;
	background: #fff;
	margin: 10px;
	border: 1px solid #252930 ;
	border-radius: 22px;
	

	
}

.art-img{
	width: 337px;
	height: 160px;
	margin: 25px auto 0 auto;

}


.text{
	margin: 25px;
	
	
}

.text-heading{
	font-size: 19px;
	line-height: 28px;
}

.text-p{
	font-size: 16px;
	line-height: 24px;
	color:#0F1217 ;
}



.art-footer{
	font-size: 16px;
	color: #0F1217;



}

 /* pagination position styling */
 .pagination_section {
	font-family: "Recursive", sans-serif;
	font-size: 25px;
	font-weight: 700px;
	font-style: italic;
	text-align: center;
	margin-top: 100px;
}
 
/* pagination styling */
.pagination_section a {
	color: #909090;
	padding: 10px 18px;
	text-decoration: none;
}
 
/* pagination hover effect on non-active */
.pagination_section a:hover:not(.active) {
	background-color: #FF7575;
	color:#fff;
	border-radius: 4px;
}
 
/* pagination hover effect on active*/
 
a:nth-child(3) {
	border-top: 3px solid ;
	color: #FF7575;
}

.footer-section{
	width: 1236px;
	height: 68px;
	font-family: "Source Sans 3", sans-serif;
	margin: 100px auto 100px auto;
	border-top: 3px solid #4D4D4D;
	text-align: center;
	
	
	
	
	
}
.footer-section ul{
	list-style-type:none;

}

.footer-section li{
	display: inline-block;
	margin-right: 250px;
	
}

.d-intro{
	font-size: 30px;
	
}

.designer{
	
	font-size: 19px;
	background-color: #4699E0;
	padding: 4px 8px 4px 8px;
	border-radius: 5px;
}
 

 
